.testimonial-box {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
  margin-top: 40px;
  width: 80%;
}

.testimonial-box p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.7;
}

.user-info {
  display: flex;
  margin-top: 20px;
}

.user-info img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.user-info h4 {
  font-weight: 700;
  margin: 0;
}
