.box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 40px 0;
  padding: 60px;
}

.small-box {
  display: inline-block;
  position: relative;
  margin-bottom: -50%;
  z-index: 1;
}

.box img {
  width: 80%;
}
