@media screen and (max-width: 768px) {
  body {
    text-align: center;
  }

  nav.flex {
    flex-direction: row;
  }

  .header-img {
    margin-top: 40px;
    margin-left: 0;
    width: 100%;
  }

  .flex {
    flex-direction: column;
  }

  .box-reverse-mobile {
    flex-direction: column-reverse;
  }

  footer ul {
    padding: 0;
    width: 100%;
  }

  footer p {
    text-align: center;
  }
}
