.form-control {
  position: relative;
  margin-bottom: 30px;
}

.form-control small {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  position: absolute;
  bottom: -24px;
  right: 0;
  opacity: 0;
  text-align: right;
}

input {
  border-radius: 5px;
  border: 1.3px solid hsl(246, 25%, 77%);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 25px;
  display: block;
  width: 100%;
}

.form-control.error input {
  border-color: hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

.form-control.error input::placeholder {
  color: hsl(0, 100%, 74%);
}

input:focus {
  border: 1.3px solid hsl(248, 32%, 49%);
  outline: none;
}

.form-control img {
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  height: 20px;
}

.form-control.error img {
  opacity: 1;
}

.form-control small {
  opacity: 0;
}

.form-control.error small {
  opacity: 1;
}

small {
  display: block;
  color: #bbb;
  font-size: 11px;
  font-weight: 500;
  margin-top: 15px;
}

small a {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  text-decoration: none;
}
