header {
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 50px 0;
}

h1 {
  font-size: 3rem;
  margin: 0;
  display: flex;
  line-height: 0.8;
  flex-direction: column;
  text-transform: uppercase;
}

h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
}

h4 {
  color: hsl(229, 64%, 46%);
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
}
