@media screen and (max-width: 768px) {
  body {
    font-size: 1em;
  }

  h1 {
    font-size: 4em;
  }

  .hamburger {
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: block;
    position: relative;
    z-index: 99;
  }

  .hamburger:hover {
    transform: scale(1.2);
  }

  .hamburger:focus {
    outline: none;
  }

  .icon-close {
    display: none;
  }

  .show-nav .icon-close {
    display: block;
  }

  .show-nav .icon-hamburger {
    display: none;
  }

  ul {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 20px;
    width: calc(100% - 40px);
    transform: translateX(120%);
    z-index: 100;
    transition: transform 0.4s ease;
  }

  .show-nav ul {
    transform: translateX(0);
  }

  ul li {
    margin: 20px 30px;
    text-align: center;
  }

  ul li.login {
    margin: 40px 30px 20px;
  }

  ul li.login::before {
    border-radius: 0;
    top: 0;
    left: 0;
    transform: translate(0, -25px);
    height: 1px;
    width: 100%;
  }

  ul li a {
    font-size: 1.5em;
  }

  .mobile-reverse {
    flex-direction: column-reverse;
  }

  .flex {
    margin-top: 50px;
  }

  .illustration {
    transform: scale(1) translateX(0%);
    margin: 0 0 50px;
  }
}
